<!-- Portfolio Grid Section -->
<div class="short-grid">
    {% for item in site.short %}
    <div class="short-cell">
        <a class="short-link" data-keyboard="true" href="{{ item.url | relative_url }}">
            <div class="caption" title="{{ item.title }}">
                <div class="caption-content">
                    <i class="fas fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img alt="" class="" src="{{ item.img | relative_url }}">
        </a>
    </div>
    {% endfor %}
</div>
