figure {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    background: repeating-linear-gradient(135deg, #dfdfdf 0, #dfdfdf 1%, #ffffff 0, #ffffff 50%) 0 / 20px 20px;
    text-align: center;
    img {
        margin: 0 auto 0.2rem auto;
        border: 1px solid #ddd;
        box-shadow: none;
        background-color: #fff;
    }
    figcaption {
        font-size: 0.9rem;
        padding-left: 2rem;
        padding-right: 2rem;
        line-height: 1.6;
        font-family: $figcaption-font;
        span {
            background-color: #fff;
            padding: 0.2rem 0.5rem;
        }
        a:hover {
            cursor: pointer;
        }
    }
}
